// Paleta de cores para o site
$winenav: #AB9166;
$header: #DFD6C8;
$wine: #7450AD;
$title: #8E5566;


$theme-colors: (
        "winenav": $winenav,
        "header": $header,
        "wine": $wine,
        "title": $title,
);

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

// HOME PAGE
.separator {
  margin: 8vh;
}

.sh .fa-chevron-down{
  text-shadow: 5px 5px 26px #000000;
}

.line {
  background-image: url("../img/ret.svg");
  height: auto;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  margin: auto;
}

.title-text {
  color: $wine;
  font-weight: bolder;
  font-size: 22px;
}
// END OF HOME PAGE

// Importando o Bootstrap e demais deps de scss
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
//Bootstrap classes replace
