@import "themecolors";

#modal-addon {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  height: 100%;
  width: 100%;
}
.modalconent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  display: grid;
}

.img-addons {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.title-addon {
  font-size: 30px;
  font-weight: bolder;
  color: $wine;
}

.sub-tittle-addon {
  font-size: 20px;
  color: $winenav;
}

.txt-addon {
  font-size: 14px;
  text-align: center;
}

.btn-margins {
  margin-right: 150px;
  margin-left: 150px;
}

@media only screen and (max-width: 768px) and (min-width: 100px) {
  .img-addons {
    height: 300px;
    width: 300px;
  }
  .container-text-addon {
    width: 300px;
  }
  .title-addon {
    font-size: 23px;
  }
  .sub-tittle-addon{
    font-size: 18px;
  }
  .btn-margins {
    margin-right: 80px;
    margin-left: 80px;
  }
}