// Paleta de cores para o site
$winenav: #AB9166;
$header: #DFD6C8;
$wine: #7450AD;
$title: #8E5566;

$theme-colors: (
        "winenav": $winenav,
        "header": $header,
        "wine": $wine,
        "title": $title,
);
