@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.title {
    font-family: 'Ubuntu', sans-serif !important;
}
body {
    font-family: 'Poppins', sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

// THIS IS THE MAIN STYLE
@import "themecolors";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

// HERE IS THE IMPORTS LIBS
@import "home";
@import "historia";
@import "produtos";
@import "turismo";
@import "servicos";
@import "eventos";
@import "curiosidades";
@import "addons";

#footer {
  // right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: relative;
}

.setinha {
    animation: setinha 4s infinite;
    position: absolute;
}

.title-text-home {
  color: #8E5566 !important;
}

.divsetinha {
  transform: translateY(-36px);
  -webkit-transform: translateY(-36px);
  -moz-transform: translateY(-36px);
  -ms-transform: translateY(-36px);
  -o-transform: translateY(-36px);
  height: 10px;
  justify-content: center;
  display: flex;
}

@keyframes setinha {
  0% {
    transform: translateY(7px);
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
}
  50% {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
}
  100% {
    transform: translateY(7px);
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
}
}

@media only screen and (min-width: 1850px) {
  .container-footer {
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1849px) and (min-width: 1600px) {
  .container-footer {
    width: 85% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-footer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  grid-gap: 7px;
  font-size: 13px;
  width: 100%;
}

.footer1 {
  margin:auto;
}
.footer2 {
  margin:auto;
}
.footer3 {
  margin:auto;
}
.footer4 {
  margin:auto;
}
.footer5 {
  margin:auto;
}
// RESPONSIVIDADE DE TODAS AS CLASSES DE TODOS OS ARQUIVOS VAI AQUI EM BAIXO

// CELULAR
@media only screen and (max-width: 1350px) and (min-width: 100px) {
  .container-footer {
    grid-template-columns: 100%;
    font-size: 15px;
  }
  .footer1 {
    margin-top: 10px;
  }
  .footer2 {
    margin-top: 10px;
  }
  .footer3 {
    margin-top: 10px;
  }
  .footer4 {
    margin-top: 10px;
  }
  .footer5 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

// HD 
@media screen and (max-width: 1366px) and (min-width: 801px) {

}

// HD em diante
@media screen and (min-width: 1367px) {
  .header-width {
    width: 700*1.6px;
    height: 330*1.6px;
  }
}


//What's app btn
.whats {
  display: inline-block;
  color: #25D366;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.whats .fundo-branco {
  z-index: -1;
  background-color: white;
  width: 30px;
  height: 40px;
  bottom: 30px;
  right: 30px;
}

@media screen and (max-width: 740px) {
  .whats {
    bottom: 20px;
    right: 5px;
  }
  .whats .fundo-branco {
    bottom: 30px;
    right: 7px;
    width: 38px;
    height: 33px;
  }
}

.whats:active {
  color: #075E54;
}

.whats:hover {
  color: #075E54;
}

.whats-show {
  opacity: 1;
  visibility: visible;
}

// END WHATS APP

.title-size {
  font-size: 20px;
}

// Celular apenas, não tablet
@media only screen and (min-width: 100px) and (max-width: 767px) {
  .bg-janela-melhoridade {
    height: 45vh;
  }
  .title-size {
    font-size: 17px;
  }
}

// Importando o Bootstrap e demais deps de scss
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
//Bootstrap classes replace
