@import "themecolors";

// Melhor idade
.bg-janela-melhoridade {
  background-image: url("../img/turismo/melhoridade/melhor1.png");
  background-size: cover;
  height: 30vh;
}

.bg-verde-melhoridade {
  background-image: url("../img/turismo/melhoridade/melhor2.png");
  background-size: cover;
  height: 30vh;
}

.bg-mesa-melhoridade {
  background-image: url("../img/turismo/melhoridade/melhor3.png");
  background-size: cover;
  height: 30vh;
}

// pedagógico
